server/.idea
server/ff.iml
server/target
server/dependency-reduced-pom.xml
*classified.html
node_modules
index.js
*.pyc
*~
# Secret files
prod-secrets.sh
server/production.yaml
server/production.yaml~
