body {
    background-color: #90a0c0;
}

td {
   padding:0; margin:0;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: white;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    
    .floatleft, .floatright {
        float:left;
        width: 50%;
        background-color: #0000bb;
    }

    .thumbs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .floatright {
        background-color: #00ff00;
        width: 50%;
        height: 90%;
    }

    #main-image {
        display: block;
        width: auto;
        height: auto;
        max-height: 80vh;
        max-width: 90%;
        margin: 20px auto;
    }
    .thumb {
        
    }
} /* close large screen media */

.footer {
    /*float: bottom;*/
    /*min-height: 200px;*/
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
}
