body {
    background-color: #90a0c0;
}

td {
   padding:0; margin:0;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tag-form {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.container {
    background-color: white;
    width: 100%;
}

@media only screen and (max-width: 799px) {
    
    .floatleft {
        float:left;
        width: 100%;
        max-width: 480px; /* 16 cols x 30px per col */
        background-color: #0000bb;
    }

    .thumbs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .floatright {
        background-color: #00ff00;
        width: 100%;
        height: 90%;
    }

    #main-image {
        display: block;
        width: auto;
        height: auto;
        max-height: 80vh;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .dialog {
        display: block;
        position: fixed;
        top: 0; /* Half the icon's height */
        right: 0; /* half the icon's width */
        z-index:50;
        background-color: #c0c0c0;
        width: 100%;
        height: 100%;
    }

    .dialog button {
        z-index: 100;
        float: right;
        font-size: 200%;
        font-weight: bold;
    }

    .thumb {
        
    }
} /* close small screen media */

@media only screen and (min-width: 800px) {
    
    .floatleft {
        float:left;
        width: 50%;
        max-width: 480px; /* 16 cols x 30px per col */
        min-width: 480px;
        background-color: #0000bb;
    }

    .thumbs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .floatright {
        float: left;
        background-color: #00ff00;
        width: 50%;
        height: 90%;
    }

    .dialog {
        position: fixed;
    }
    
    #main-image {
        display: block;
        width: auto;
        height: auto;
        max-height: 80vh;
        max-width: 90%;
        margin: 20px auto;
    }

    .dialog button {
        display: none;
    }    
    .thumb {
        
    }
} /* close large screen media */
