html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
    line-height: 1.6;
    font-size: 1.0em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.scrollable {
  overflow-y: scroll;
}

.fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.expandable {
  flex-grow: 1;
}

.compressible {
  flex-shrink: 1;
}

/* begin debug */
.thirty {
    width: 30px;
    color: white;
}

.blue-bg {
    background-color: #90a0c0;
}

.gray-bg {
    background-color: #a0a0a0;
}

.white-bg {
    background-color: #e8e8e8;
}

.red-bg {
    background-color: #ff0000;
}

.red-border {
    border: 2px solid red;
}
.blue-border {
    border: 2px solid green;
}
.green-border {
    border: 2px solid green;
}

/* end debug */

    .dialog button {
        text-align: right;
        font-weight: bold;
        font-size: 1.5em;
        border-width: 0px;
        background-color: white;
    }

    .dialog p {
        margin-left: 10px;
    }
    
@media only screen and (min-width: 800px) {

    .thumbs {
        max-width: 480px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    /* can't decide if I like opacity < 1.0 for non-selected */
    .thumbs img {
        opacity: 1.0;
    }

    .thumb-selected {
        border: 2px solid red;
    }

    .thumb-selected img {
        width: 26px;
        height: 36px;
        opacity: 1.0;
    }
    
    .main {
        display: flex;
        width: 100%;
    }

    .dialog button {
        display: none;
    }

    .tag-form {
        width: initial;
        height: initial;
        background-color: coral;
        flex-wrap: wrap;
        max-width: 450px; /* FIXME: hack */
    }
    .tag-check {
        margin: 8px;
    }
    #main-image {
        display: block;
        width: auto;
        height: auto;
        max-height: 80vh;
        max-width: 90%;
        /* top right bottom left */
        margin: 0px 0px 5px 10px;
    }

    .nav {
        background-color: yellow;
    }

    .nav ul {
        margin: 20px;
    }

    .nav ul li {
        margin-bottom: 40px;
        text-align: right;
    }
    
} /* close large screen media */    
