html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, p {
    margin: 10px;
}

h1 {
    margin-top: 19px;
}

p {
    line-height: 1.6;
    font-size: 1.0em;
}

.strike {
    text-decoration: line-through;
}
/* iremmel boilerplate */
.flex-container {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start; /* don't stretch height of flex items */
    align-items: -ms-flex-start;
  flex-direction: row;
  
}

.flex-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.scrollable {
  overflow-y: scroll;
}

.expandable {
  flex-grow: 1;
}

.compressible {
  flex-shrink: 1;
}/* end boilerplate */

.error {
    color: red;
    font-weight: bold;
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.invisible {
    display: none;
}
@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* begin debug styles */

.blue-bg {
    background-color: #90a0c0;
}

.gray-bg {
    background-color: #a0a0a0;
}

.white-bg {
    background-color: #e8e8e8;
}

.red-bg {
    background-color: #ff0000;
}

.red-border {
    border: 2px solid red;
}
.blue-border {
    border: 2px solid #5764c6;
}
.green-border {
    border: 2px solid green;
}

/* end debug */

.center-single-child {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.fill-area {
    width: 100%;
    height: 100%;
}

.filters {
    position: absolute;
    top: 113px;
    left: 8px;
    width: 150px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid gray;
    z-index: 1;
    background: white;
}

.disabled {
    color: #909090;
    font-style: italic;
}

/* force space between end of content and bottom of page, b/c it annoys me on mobile */
.footer-padding {
    height: 80px;
    width: 90vw;
}

#main-image-holder {
    position: relative;
}

.image-toolbar {
    width: 50px;
    min-width: 50px;
    padding-top: 36px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
}

.image-toolbar span {
    margin-top: 24px;
}

.image-toolbar a {
    color: #50596c;
}

.fa:hover {
    color: #5764c6;
}

.mosaic-toolbar {
    flex-direction: row;
    font-size: 1.8em;
    padding: 10px;
}
.thumb-container {
    width: 100%;
    margin: 0px auto;
}

.thumb-view-chooser {
    margin: 20px;
    font-size: 1.2em;
}

.timeline-container {
    margin-left: 10px;
}
    
.thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto; /* horizontal centering */
}

.thumbs img {
    width: 30px;
    height: 40px;
    opacity: 1.0;
}

.thumbs div {
    width: 30px;
    height: 40px;
}

.thumb-outside-filter img {
    opacity: 0.2;
}

.sans-font {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.footnote {
    font-size: 0.8em;
}

#main-image {
    display: block;
    width: auto;
    height: auto;
    /* top right bottom left */
    /*margin: 0px 0px 5px 10px;*/
    margin: 0 auto;
}

#ff-fb-block {
    margin: 10px;
    width: 480px;
}

.chart {
    margin: 8px;
}

.chart svg {
    padding-left: 10px;
    padding-bottom: 10px;
}

.tag-form {
    padding: 12px;
    display: inline-grid;
}

.tag-form h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}

.inline-grid {
    display: inline-grid;
}
.tag-check {
    flex-grow: 1;
    flex-basis: 0;
    display: inline-table;
}

.tag-check label {
    margin-right: 10px;
    margin-left: 3px;
}

.thumb-table {
}

.month-thumb-table {
    /*margin-left: 12px;*/
}

.month-thumb-table h6 {
    margin-bottom: 0px;
    margin-top: 12px;
}

.month-thumb-table .thumb-cell {
    width: 60px;
    /* top, right, bottom, left */
    margin: 5 10 5 0;
    overflow-x: hidden;
}

.headshot {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 12px;
}

/* Burger menu custom styles */
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 28px;
  left: 20px;
  top: 20px;
}

.right .bm-burger-button {
    left: auto;
    right: 20px;
}


.bm-burger-bars {
    background: #5764c6;
}

.bm-morph-shape {
  fill: #373a47;
}

/* need to do this for mobile safari */
.bm-overlay, .bm-menu-wrap {
    top: 0px;
}

.bm-menu {
  background: #373a47;
}

.menu-item-small {
    font-size: 12px;
    margin-left: 6px;
}
html [type=button] {
    -webkit-appearance: initial;
}

.bm-item-list a {
  padding: 0.8em;
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}


.bm-cross {
    background: white;
}

.bm-menu {
    padding: 2.5em 1.5em 0;
    /*font-size: 1.15em;*/
    font-size: 16px;
}

.upload {
    padding: 12px;
}

.ff-home {
    align-items: center;
    width: 500px;
}

.home-thumbs {
    max-width: 400px;
    justify-content: center;
}

@media only screen and (max-width: 1240px) {

     .tag-form {
         position: absolute;
         top: 56px;
         left: 0px;
         padding: 3px;
         padding-left: 20px;
         background: white;
         max-height: 40vh;
         overflow-y: scroll;
         opacity: 0.9;
     }

     .filters {
         top: 109px;
         left: 8px;
         padding-left: 8px;
     }
     
     .image-toolbar {
         position: absolute;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         font-size: 1.8em;
         background: white;
         width: 100%;
         top: 0px;
         left: 0px;
         padding-top: 12px;
     }
 
     .image-toolbar span {
         margin: 10px;
     }
 
     .tag-check label {
         font-size: 0.9em;
     }
 
     .month-thumb-table {
         /*margin-left: 8px;*/
     }

     .ff-home {
         width: 400px;
     }
     
     .home-thumbs {
         max-width: 300px;
     }

     .home-thumbs img {
         width: 120px;
         height: 160px;
         margin: 2px;
     }

    #main-image {
        margin-top: 60px;
    }
 }

@media only screen and (max-width: 799px) {

    [type=checkbox], [type=radio] {
        width: 24px;
        height: 24px;
    }
    .thumbs {
        width: 360px;
        max-width: 360px;
        /*margin-top: 10px;*/
    }

    .ff-home {
        width: 100%;
    }
    
    .ff-dialog {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: white;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }

    .ff-dialog-content {
    }
    
    .close-icon {
        width: 30px;
        height: 30px;
        top: 0px;
        left: 0px;
        position: fixed;
        color: #f0f0f0;
        /*background: #202020;*/
        background: #5764c6;
        border-radius: 15px;
        text-align: center;
        font-size: 2.0em !important;
        line-height: 30px !important;
        display: none;
    }

    #main-image {
        width: 100%;
        /*margin: 0 auto;*/
    }
    #main-image-holder {
        /*position: absolute;*/
        top: 0px;
        /*z-index: -1;*/
     }

    .bm-menu {
        /* top right bottom left */
        padding: 2.5em 24px 0px 12px;
    }

    #ff-fb-block {
        width: 90%;
    }

    .filters {
        left: 0px;
    }
    
}

@media only screen and (max-width: 799px) and (orientation: portrait) {
   #main-image-holder {
       width: 100%;
       max-width: 100%;
     }
}

/* iphone ??? */
@media only screen and (min-width: 400px) and (max-width: 629px) and (orientation: landscape) {
    .thumbs {
        width: 510px;
        max-width: 510px;
    }
}

/* iphone 5 */
@media only screen and (min-width: 320px) and (max-width: 320px) and (orientation: portrait) {
    .thumbs {
        width: 300px;
        max-width: 300px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 799px) and (orientation: landscape) {
    .thumbs {
        width: 630px;
        max-width: 630px;
    }

    #main-image-holder {
        /*margin: 0 auto;*/
    }
}
/* large screen, desktop */
@media only screen and (min-width: 800px) {

    .thumbs {
        width: 496px;
        max-width: 496px;
        max-height: 95vh;
        cursor: pointer;
        overflow-y: scroll;
        /*margin-left: 10px;
        margin-top: 10px;*/
    }

    .thumb-container {
        width: 496px;
        max-width: 496px;
        max-height: 95vh;
        margin-top: 10px;
        overflow-x: hidden;
        margin-left: 10px;
    }
    
    .thumb-selected {
        border: 2px solid red;
    }

    .thumb-selected img {
        width: 26px;
        height: 36px;
        opacity: 1.0;
    }
    
    .main {
        display: flex;
        width: 100%;
    }

    .ff-dialog {
        margin-top: 10px;
        margin-left: 6px;
    }
    
    .ff-dialog .close-icon {
        display: none;
    }

    .tag-form {
    }

    /* for IE */
    .tag-check {
        width: 190px;
    }
    #main-image {
        display: block;
        max-width: 100%;
        height: auto;
        /* top right bottom left */
        /*margin: 0px 0px 5px 10px;*/
    }

} /* close large screen media */    

