html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: -apple-system, Lucida Grande, Helvetica, Arial, sans-serif;*/
  /*font-family: Helvetica, Arial, sans-serif;*/
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, p {
    margin: 10px;
}

h1 {
    margin-top: 19px;
}

p {
    /*font-family: "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;*/
    line-height: 1.6;
    font-size: 1.0em;
}

.strike {
    text-decoration: line-through;
}
/* iremmel boilerplate */
.flex-container {
  display: flex;
  align-items: flex-start; /* don't stretch height of flex items */
}

.flex-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.scrollable {
  overflow-y: scroll;
}

.expandable {
  flex-grow: 1;
}

.compressible {
  flex-shrink: 1;
}/* end boilerplate */

.error {
    color: red;
    font-weight: bold;
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.invisible {
    display: none;
}
@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/* begin debug */
.thirty {
    width: 30px;
    color: white;
}

.blue-bg {
    background-color: #90a0c0;
}

.gray-bg {
    background-color: #a0a0a0;
}

.white-bg {
    background-color: #e8e8e8;
}

.red-bg {
    background-color: #ff0000;
}

.red-border {
    border: 2px solid red;
}
.blue-border {
    border: 2px solid #5764c6;
}
.green-border {
    border: 2px solid green;
}

.center-single-child {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
/* end debug */


.fill-area {
    width: 100%;
    height: 100%;
}

.filters {
    padding-left: 12px;
    padding-right: 12px;
}

.disabled {
    color: #909090;
    font-style: italic;
}

#main-image-holder {
    position: relative;
}

.image-toolbar {
    width: 50px;
    min-width: 50px;
    padding-top: 36px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8em;
}

.image-toolbar span {
    margin-top: 24px;
}

.fa:hover {
    color: #5764c6;
}
/*
.dialog svg {
    border: 1px solid red;
}
*/

.thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto; /* horizontal centering */
}

.thumbs img {
    width: 30px;
    height: 40px;
    opacity: 1.0;
}

.thumbs div {
    width: 30px;
    height: 40px;
}

.thumb-outside-filter img {
    opacity: 0.2;
}

.sans-font {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.footnote {
    font-size: 0.8em;
}

#main-image {
    display: block;
    width: auto;
    height: auto;
    /*max-height: 80vh;
    max-width: 90%;*/
    /* top right bottom left */
    margin: 0px 0px 5px 10px;
}

#ff-fb-block {
    margin: 12px;
}

.chart {
    margin: 8px;
}

.chart svg {
    padding-left: 10px;
    padding-bottom: 10px;
}

.tag-form {
    padding: 12px;
    display: inline-grid;
}

.tag-form h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}

.inline-grid {
    display: inline-grid;
}
.tag-check {
    flex-grow: 1;
    flex-basis: 0;
    display: inline-table;
}

.tag-check label {
    margin-right: 10px;
    margin-left: 3px;
}

.thumb-table {
}

.month-thumb-table {
    /*margin-left: 12px;*/
}

.month-thumb-table h6 {
    margin-bottom: 0px;
    margin-top: 12px;
}

.month-thumb-table .thumb-cell {
    width: 60px;
    /* top, right, bottom, left */
    margin: 5 10 5 0;
    overflow-x: hidden;
}

/* Burger menu custom styles */
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 28px;
  left: 20px;
  top: 20px;
  /*z-index: 2 !important;*/
}

.right .bm-burger-button {
  left: initial;
  right: 20px;
}

.headshot {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 12px;
}

.bm-burger-bars {
    background: #5764c6;
    /*background: #373a47;*/
    /*background: #dee4f9;*/
}

.bm-morph-shape {
  fill: #373a47;
}

/* not sure why I need to do this, but ok */
.bm-overlay, .bm-menu-wrap {
    top: 0px;
}
.bm-menu {
  background: #373a47;
}

.menu-item-small {
    font-size: 12px;
    margin-left: 6px;
}
html [type=button] {
    -webkit-appearance: initial;
}

.bm-item-list a {
  padding: 0.8em;
  /*color: #b8b7ad;*/
  /*color: #dee4f9;*/
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}


.bm-cross {
    /*background: #bdc3c7;*/
    /*background: #dee4f9;*/
    background: white;
}

.bm-menu {
    padding: 2.5em 1.5em 0;
    /*font-size: 1.15em;*/
    font-size: 16px;
}

.upload {
    padding: 12px;
}

@media only screen and (max-width: 1240px) {

     .tag-form {
         position: absolute;
         top: 70px;
         left: 20px;
         padding: 3px;
         background: white;
         max-height: 40vh;
         overflow-y: scroll;
     }

     .image-toolbar {
         justify-content: flex-start;
         align-items: center;
         font-size: 1.8em;
         /*z-index: 10;*/
         position: absolute;
         /*color: #373a47;*/
         background: white;
         width: 100%;
         flex-direction: row;
         top: 0px;
         left: 0px;
     }
 
     .image-toolbar span {
         margin: 10px;
     }
 
     .tag-check label {
         font-size: 0.9em;
     }
 
     .month-thumb-table {
         /*margin-left: 8px;*/
     }
 }

@media only screen and (max-width: 799px) {

    [type=checkbox], [type=radio] {
        width: 24px;
        height: 24px;
    }
    .thumbs {
        width: 360px;
        max-width: 360px;
        margin-top: 8vh;
    }
    
    .dialog {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: white;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        /*z-index: 1;*/
        /*
        -webkit-transform: translateZ(1px);
        -moz-transform: translateZ(1px);
        -o-transform: translateZ(1px);
        transform: translateZ(1px);
*/
    }

    .dialog-content {
        /*padding-left: 12px;*/
    }
    
    .close-icon {
        width: 30px;
        height: 30px;
        top: 0px;
        left: 0px;
        position: fixed;
        color: #f0f0f0;
        /*background: #202020;*/
        background: #5764c6;
        border-radius: 15px;
        text-align: center;
        font-size: 2.0em !important;
        line-height: 30px !important;
        display: none;
    }

    /*
    .tag-form {
        display: none;
    }
*/

    #main-image {
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    #main-image-holder {
        /*position: absolute;*/
        top: 0px;
        /*z-index: -1;*/
     }

    .bm-menu {
        /* top right bottom left */
        padding: 2.5em 24px 0px 12px;
    }
}

@media only screen and (max-width: 799px) and (orientation: portrait) {
   #main-image-holder {
       width: 100%;
       max-width: 100%;
     }
}

/* iphone ??? */
@media only screen and (min-width: 400px) and (max-width: 629px) and (orientation: landscape) {
    .thumbs {
        width: 510px;
        max-width: 510px;
    }
}

/* iphone 5 */
@media only screen and (min-width: 320px) and (max-width: 320px) and (orientation: portrait) {
    .thumbs {
        width: 300px;
        max-width: 300px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 799px) and (orientation: landscape) {
    .thumbs {
        width: 630px;
        max-width: 630px;
    }

    #main-image-holder {
        margin: 0 auto;
    }
}
/* large screen, desktop */
@media only screen and (min-width: 800px) {

    .thumbs {
        width: 496px;
        max-width: 496px;
        max-height: 95vh;
        cursor: pointer;
        overflow-y: scroll;
        margin-left: 10px;
        margin-top: 10px;
    }

    
    .thumb-selected {
        border: 2px solid red;
    }

    .thumb-selected img {
        width: 26px;
        height: 36px;
        opacity: 1.0;
    }
    
    .main {
        display: flex;
        width: 100%;
    }

    .dialog {
        margin-top: 10px;
        margin-left: 6px;
    }
    
    .dialog .close-icon {
        display: none;
    }

    .tag-form {
        /*
        width: initial;
        height: initial;
*/
        /*background-color: coral;*/
        /*flex-wrap: wrap;*/
        /*max-width: 450px; /* FIXME: hack */
    }
    #main-image {
        display: block;
        max-width: 100%;
        height: auto;
        /* top right bottom left */
        margin: 0px 0px 5px 10px;
    }

} /* close large screen media */    

